<!DOCTYPE html>
<html>

<head>
  <title>PowerLife</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="style.css" rel="stylesheet" />
  <script type="text/javascript">
  $(function() {

    $('#login-form-link').click(function(e) {
		$("#login-form").delay(100).fadeIn(100);
 		$("#register-form").fadeOut(100);
		$('#register-form-link').removeClass('active');
		$(this).addClass('active');
		e.preventDefault();
	});
	$('#register-form-link').click(function(e) {
		$("#register-form").delay(100).fadeIn(100);
 		$("#login-form").fadeOut(100);
		$('#login-form-link').removeClass('active');
		$(this).addClass('active');
		e.preventDefault();
	});

});
</script>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
          <span class= "sr-only">Toggle navigation </span>
          <span class= "icon-bar"></span>
          <span class= "icon-bar"></span>
          <span class= "icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="img/battery_charging.png"</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-main">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="active" href="#">Home<a></li>
              <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Sign In</a></li>

        </ul>
      </div>
    </div>
  </nav>
  <div id="fixed">
  </div>

  <div id="home">
    <div class="landing-text">
      <h1>LifePower</h1>
      <h3>Batteries delivered to you</h3>
      <a href="#" class="btn btn-default btn-lg">Sign up</a>
    </div>
  </div>

  <div class="padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="img/battery.png" style="width:50%;">
        </div>
        <div class="col-sm-6 text-center">
          <h2>All About Us </h2>
          <p class="lead">Here at LifePower, we want to provide you with the peace of mind of never having your battery die on you.
            Whether it be for your car, your phone, your laptop, we provide you with the security of knowing you never have to go out of your way to recharge or replace </p>

        </div>
      </div>
    </div>
  </div>
  <div class="services">
    <h1>Get the batteries you want </h1>
    <h3>Wherever you are</h3>
  </div>
  <div class="lead">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <h4> Tell Us</h4>
          <p> When you subscribe, you simply tell us the devices you want taken care of by providing barcode,and never worry again </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <img src="img/truckicon.jpg" class="img-responsive" style="width:60%; ">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <h4>We Deliver </h4>
          <p>Wherever you are located, we will come to you when your battery is running low or needs replacement. </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <img src="img/delivery2.png" class="img-responsive" style="width:55%">
        </div>
      </div>
    </div>
  </div>
<div class="bottomdiv">
  <h2>Join Us</h2>
  <div class="container">
      	<div class="row">
  			<div class="col-md-6 col-md-offset-3">
  				<div class="panel panel-login">
  					<div class="panel-heading">
  						<div class="row">
                <div class="col-xs-6">
  								<a href="#" id="register-form-link">Register</a>
  							</div>
  							<div class="col-xs-6">
  								<a href="#" class="active" id="login-form-link">Login</a>
  							</div>

  						</div>
  						<hr>
  					</div>


  					<div class="panel-body">
  						<div class="row">
  							<div class="col-lg-12">
  								<form id="login-form" action="https://phpoll.com/login/process" method="post" role="form" style="display: block;">
  									<div class="form-group">
  										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
  									</div>
  									<div class="form-group">
  										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
  									</div>
  									<div class="form-group text-center">
  										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
  										<label for="remember"> Remember Me</label>
  									</div>
  									<div class="form-group">
  										<div class="row">
  											<div class="col-sm-6 col-sm-offset-3">
  												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
  											</div>
  										</div>
  									</div>
  									<div class="form-group">
  										<div class="row">
  											<div class="col-lg-12">
  												<div class="text-center">
  													<a href="https://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
  												</div>
  											</div>
  										</div>
  									</div>
  								</form>
  								<form id="register-form" action="https://phpoll.com/register/process" method="post" role="form" style="display: none;">
  									<div class="form-group">
  										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
  									</div>
  									<div class="form-group">
  										<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
  									</div>
  									<div class="form-group">
  										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
  									</div>
  									<div class="form-group">
  										<input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
  									</div>
  									<div class="form-group">
  										<div class="row">
  											<div class="col-sm-6 col-sm-offset-3">
  												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
  											</div>
  										</div>
  									</div>
  								</form>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
    </div>































  <footer>
    <div class="row">
      <!-- <div class="col-sm-4">
        <h3>Contact US</h3>
        <br>
        <h4>address and phone</h4>
      </div> -->
      <!-- <div class="col-sm-4">
        <h3>Connect</h3>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>

      </div> -->

    </div>
  </footer>








  <!--- iOS Landing Page Fix
<section>
	<div class="landing-text">
		<h1>BOOTSTRAP</h1>
		<h3>Learn the basic building blocks.</h3>
		<a href="#" class="btn btn-default btn-lg">Get Started</a>
	</div>
	<div class="home-wrap">
        <div id="home">
		</div>
    </div>
</section>
-->

  <!--- iOS Fixed Image Fix
<figure>
	<div class="fixed-wrap">
        <div id="fixed">
		</div>
    </div>
</figure>
-->

</body>


</html>
