{% extends "layout.html" %}
{% block title %}LifePower{% endblock %}
{% block content %}
   <div class="container">
            <div class="row" style="margin-top:232px;">
                <div class="col-md-12">
                    <h1 class="text-center" data-aos="fade-right" data-aos-duration="3000" ><strong>LifePower</strong></h1>
                    <h1><strong>User Dashboard</strong></h1>
                    <p class="lead text-center" data-aos="fade-left" data-aos-duration="3000" s><em>

                    </em> </p>

			        <main class="col">

			         <form method="post">
			        <!-- make sure that the session fills this input out with the user id -->
			        <input type="hidden" name="id_user" value="">

			        <div class="form-group row">
			            <label for="quatities" class="col-4 col-form-label">How many batteries?</label>
			            <div class="col-8">
			                <select id="quatities" name="quatities" class="custom-select">
			                    <option value="1">1</option>
			                    <option value="2">2</option>
			                    <option value="3">3</option>
			                </select>
			            </div>
			        </div>
			        <div class="form-group row">
			            <div class="offset-4 col-8">
			                <button name="submit" type="submit" class="btn btn-primary">Submit</button>
			            </div>
			        </div>
			    </form>
			          
			          
			        </main>

                </div>

                
            </div>
        </div>
{% endblock %}
