{% extends "layout.html" %}
{% block title %}LifePower{% endblock %}
{% block content %}
   <div class="container">
            <div class="row" style="margin-top:232px;">
                <div class="col-md-12">
                    <h1 class="text-center" data-aos="fade-right" data-aos-duration="3000" ><strong>LifePower</strong></h1>
                    <h1><strong>User Dashboard</strong></h1>
                    <p class="lead text-center" data-aos="fade-left" data-aos-duration="3000" s><em></em> </p>
                </div>

                
            </div>
        </div>
{% endblock %}
