{% extends "layout.html" %}
{% block title %}LifePower{% endblock %}
{% block content %}
   <div class="container">
            <div class="row" style="margin-top:50px;">
            	<div class="col-md-12">
            		   <h1 class="text-center" data-aos="fade-right" data-aos-duration="3000" >
            		   	<strong>Welcome, {{user.fname}}</strong>
            		   </h1>
            	</div>
            </div>
            <div class="row" >
            	<div class="col-md-4">
            		<h4>Your Requests</h4>
            		<table class="table table-hover table-responsive-md table-wrapper-2"  >
            			<thead class="thead-dark bg-dark"
            		>     <tr><th>ID</th><th>Device</th><th>Status</th><th>Ordered</th>
            				</tr>
            			</thead>
            			<tbody >
            			{% if data and user.device %}
            				{% for row in data %}
            					<tr><td>{{ row['id_request'] }}</td><td>{{user.device}}</td><td>{{row['status'] }}</td><td>{{ row['created'].strftime('%m-%d-%Y')  }}</td></tr>
            				{% endfor %}
            			{% endif %}
            			</tbody>
            		</table>
            	</div>
            	<div class="col-md-4">
            		<div>
            			
            			<button onClick="getLocation()" class="btn btn-dark">Ping Location</button>
            			<div id="location" style="width:50%">
            			</div>
            		</div>
            	</div>
            	<div class="col-md-4">
            		<div class="card" style="width:100%">
            		<img class="card-img-top" src="https://robohash.org/lifepower-user" alt="Card image" style="width:50%">
					  <div class="card-body">
					    <h4 class="card-title">{{user.lname}},  {{user.fname}}</h4>
					    <p class="card-text"><strong>Device:</strong> {{user.device}}</p>
					    <p class="card-text"><strong>Phone:</strong> {{user.phone}}</p>
					    <p class="card-text"><strong>Email:</strong> {{user.email}}</p>
					    <a href="#" class="btn btn-dark">Update Profile</a>
					  </div>
					</div>
            	</div>
            </div>
            <div class="row">
                <div class="col-md-12">
               
			        <main class="col">
			        	{% with messages = get_flashed_messages() %}
						  {% if messages %}
						    <div  class="alert alert-success" role="alert" >
						    {% for message in messages %}
						      {{ message }}
						    {% endfor %}
						    </div>
						  {% endif %}
						{% endwith %}
			        <form action="/batteryRequest" method="POST">
				        <div class="form-group row">
				            <label for="quantities" class="col-4 col-form-label">How many batteries?</label>
				            <div class="col-8">
				                <select id="quantities" name="quantities" class="custom-select">
				                    <option value="1">1</option>
				                    <option value="2">2</option>
				                    <option value="3">3</option>
				                </select>
				            </div>
			        	</div>
			        	<div class="form-group row">
			           		<div class="offset-4 col-8">
			                	<input name="submit" type="submit" class="btn btn-dark" value="Request Batteries"/>
			            	</div>
			        	</div>
			    	</form>
			          
			          
			        </main>

                </div>

                
            </div>
        </div>

<script>
	var x = document.getElementById("location");

	function getLocation() {
    	if (navigator.geolocation) {
        	navigator.geolocation.getCurrentPosition(showPosition);
    }	 else { 
      	  x.innerHTML = "Geolocation is not supported by this browser.";
   		 }
	}

	function showPosition(position) {
    x.innerHTML =
    	
    	"Latitude: " + position.coords.latitude + 
	    "<br>Longitude: " + position.coords.longitude


	    ;
	}
</script>

{% endblock %}
